<h1>{{title}}</h1>

<form method="POST" action="/new">
    <label name="text">Name:
        <input type="text" name="author"> </input>
    </label><br />
    <label name="messageText">Enter Message
        <input type="text" name="messageText"> </input>
    </label><br />
    <button type="submit">Submit</button>
</form>